@model Vidly.ViewModels.RandomMovieViewModel

@{
  ViewBag.Title = "Random";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Movie.Count == 0)
{
  <text>No one has rented a movie.</text>
}
else
{
  <table class="table table-bordered">
    <tr>
      <th>Movies</th>
    </tr>
    @foreach (var movie in Model.Movie)
    {
      <tr>
        <td>
          @movie.Name
        </td>
      </tr>
    }
  </table>
}