@model Vidly.ViewModels.RandomMovieViewModel

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Customers.Any())
{
  <text>You don't have any customer</text>
}
else
{
  <table class="table table-bordered">
    <tr>
      <th>Customer</th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
      <tr>
        <td>
          @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
        </td>
      </tr>
    }
  </table>
}